

body {
    font-family: 'Lato', sans-serif;
}



/*header related style*/
.header {
    background-color: #E554731A;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .banner-pic {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.banner .banner-titel {

    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;


    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner .pra {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
}

.banner .button-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background: #E55473;
}

/*featured section*/
.feature .section-titel {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


}

.container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 20px;
    margin-top: 30px;
}


.rectangle1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.rectangle1 .image1 {
    width: 310px;
    height: 428px;
    margin: 0px 70px;
    padding-top: 110px;
}

.rectangle2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.rectangle2 .image2 {
    width: 370px;
    height: 370px;
    margin: 0px 70px;
    padding-top: 110px;
}

.rectangle3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.rectangle3 .image3 {
    width: 314px;
    height: 471px;
    margin: 0px 70px;
    padding-top: 65px;
}

.rectangle1-text {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    gap: 240px;
    font-size: large;
    font-weight: 600;
    padding-top: 10px;
}

.rectangle2-text {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    gap: 240px;
    font-size: large;
    font-weight: 600;
    padding-top: 70px;
}

.rectangle3-text {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    gap: 240px;
    font-size: large;
    font-weight: 600;
    padding-top: 10px;

}

.f1 {
    margin-top: 60px;
}

/*logo part*/

.support {
    background-color: #2727270D;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.1);
    margin: 50px 185px;
    height: 250px;
}

.logo {
    padding-top: 60px;
    justify-content: center;
    display: flex;
    gap: 500px;
    margin-top: 30px;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    gap: 215px;
    padding: 30px 30px 0px 150px;
}

.hd-text {
    align-content: center;
}

.hd-text1 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.highlight {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hd-text2 {
    display: flex;
    width: 594px;
    flex-direction: column;

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.signup-button {
    padding: 20px 43px;
    align-items: center;
    margin-left: 200px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 20px;

}

.instra {
    margin-top: 40px;
    text-align: center;
}

.instra-text1 {
    color: #272727;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 800px;
    line-height: normal;
}

.instra-text2 {
    color: #27272799;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400px;
    line-height: 30px;
}


.instra-img {
    margin-top: 60px;
    display: flex;
    gap: 70px;
    justify-content: center;
    margin: 30px 0px;
}

.latest {
    background-image: url(Rectangle9.png);
    height: 349px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 128px;

}

.div1 {
    text-align: center;
    padding-top: 70px;
}

.latest-text2 {
    padding-top: 10px;
}

.div2 {
    padding-top: 20px;
    text-align: center;

}

.div2 input{
    color: #FFFFFF;
    height: 64px;
    width: 700px;
    
}


.div2 button{
    height: 68px;
    width: 150px;
    border-radius: 8px;
    margin-left: 16px;
    background-color: #E55473;
    justify-content: center; 
}
.div2 button p{
    font-size: 20px;
    text-align: center;
    font-family: 'Lato';
}
/*footer section*/

footer {
    background-color: #111010;
    padding-top: 70px;
    padding-bottom: 100px;
    color: #FFFFFF;
    text-align: center;
}

.footer-title {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 5px;
}

.footer-text>.small-text {
    color: #FFFFFF66;
    padding-bottom: 10px;
}

#last-foot {
    color: #FFFFFF66;
    font-size: 16px;
    font-weight: 400;
}