/*header related style*/
.header {
    background-color: #E554731A;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .banner-pic {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.banner .banner-titel {

    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;


    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner .pra {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
}

.banner .button-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background: #E55473;
}

/*featured section*/
.feature .section-titel {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


}

.container {
    display: flex;
    justify-content: space-around;
}


.rectangle1 {
    width: 464px;
    height: 538px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}

.container .Image1 {
    width: 310px;
    height: 428px;
    display: flex;
    margin-top: 110px;

}
.container-text1{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 60px
}

